

/* .client */
.sary{

}
.user{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 90%;
  background-color: #d4ded9;
  height: 245px;
}

.image_user {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail_user{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  align-content: stretch;
}

/* slider*/
.slider{
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
/*  */
.titre-descri{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.third-container {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: baseline; */
}
.left {
  display: flex;
  flex-direction: column;
}
.second-container {
  display: flex;
  align-content: flex-end;
  /* flex-wrap: nowrap; */
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.second-container h4 {
  color: #000000;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-card {
  width: 80%;
  min-height: 35vh;
  background-color: #B9C4C4;
  border-radius: 7px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 20px;
  line-height: 62px;
}


.second-container .form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 325px;
}

.second-container .form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 14px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.second-container .form__field::placeholder {
  color: transparent;
}

.second-container .form__field:placeholder-shown~.form__label {
  font-size: 13px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #000000;
  pointer-events: none;
}

.second-container .form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #262626);
  border-image-slice: 1;
}

.second-container .form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #262626;
  font-weight: 700;
}

/* reset input */
.second-container .form__field:required,
.second-container .form__field:invalid {
  box-shadow: none;
}

/* button */
.box {
  width: 100%;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: lighter;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

.button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

/* resposive */

@media only screen and (max-width: 600px) {
  .input-card {
    height: auto;
    width: 90%;
    /* Réduire la largeur pour les écrans plus petits */
    max-width: none;
    /* Supprimer la largeur maximale */
  }
  .third-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: baseline; */
  }

  .slider{
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    height: 155px;
    background-repeat: no-repeat;
  }

  .user {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    background-color: #d4ded9;
    height: auto;
}
.sary{
  margin-top: 20px;
}
.detail_user{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text{
  display: flex;
    flex-direction: column;
    margin: 25px;
}
}

/* select */

.second-container .form__group select {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

/* Ajoutez ces styles si vous souhaitez masquer la flèche par défaut sur Firefox */
.second-container .form__group select::-ms-expand {
  display: none;
}

/* Styles supplémentaires pour le label de l'input select */
.second-container .form__group label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  /* pointer-events: none; */
}

/* files */
.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: #0000002e;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}


/* check box */

.checkbox-input {
  display: flex;
}

.radio-button-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  /* display: inline-block; */
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 15px;
  /* color: #f2f2f2; */
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.radio-button__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s ease;
}

.radio-button__input:checked+.radio-button__label .radio-button__custom {
  background-color: #4c8bf5;
  border-color: transparent;
  transform: scale(0.8);
  box-shadow: 0 0 20px #4c8bf580;
}

.radio-button__input:checked+.radio-button__label {
  color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
  transform: scale(1.2);
  border-color: #4c8bf5;
  box-shadow: 0 0 20px #4c8bf580;
}