.car_card{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    width: 100%;
    line-height: 40px;
    height: 100vh;
 }
 
 .bottom{
     width: 100%;
     display: flex;
     margin: 0;
     flex-direction: row;
 }
 .slider{
     padding: 5px;
     height: 500px;
     width: 50%;
     margin-left: 20px;
     border-radius: 10px;
 }
 
 .prop{
     margin-top: 0 !important;
     width: 100%;
     height: 60px;
     margin-left: 47px;
     display: grid;
     grid-template-columns: 2fr 1fr;
 }
 
 .prop *{
     height: 55px;
 }
 .name *{
     height: 50%;
 }
 .carte{
     /* border: 0.5px solid #656851; */
     padding: 10px;
     display: flex;
     flex-direction: column;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     width: 100%;
     border: 1px solid #a7aeb9;
     margin-top: 15px;
     /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
 }
 
 .third-container{
     width: 30%;
     align-items: center;
     justify-content: center;
     margin-left: 50px; 
     display: flex;
     flex-direction: column;
 }
 
 .titre{
     display: flex;
     align-items: center;
     height: 35px;
     flex-direction: row;
     justify-content: space-between;
 }
 
 .value{
     font-weight: bold;
     color: #1B1B1B;
 }

 
 .valider{
     /* width: 100%; */
     height: 50px;
     cursor: pointer;
     outline: none;
     background-color: #1B1B1B;
     color: white;
     border-radius: 5px;
     border: none;
 }
 
 .suppr{
     height: 50px;
     border: 1px solid #a7aeb9;
     background-color: transparent;
     border-radius: 5px;
     color: var(--accent-color);
     transition: 0.5s;
     cursor: pointer;
 }
 
 .suppr:hover{
     transition: 0.5s;
     border: 1px solid black;
 }
 
 .action{
     display: grid;
     grid-template-columns: 1fr 3fr;
     gap: 10px;
     border: none;
 }
 
 .infouser{
     font-size: smaller;
     line-height: 20px;
 }
 
 .descri{
     margin-top: 10px;
 }
 
 .author{
     float: right;
 }
 
 .price{
     font-weight: bold;
     font-size: 20px;
 }


  