:root {
  --background-color: rgb(252, 247, 247);
  --text-color: #ffffff;;
  --header-box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  /* --sidebar-bg-color: #ebadb678 ; */
  --sidebar-bg-color: #0e3a65 ;
  --sidebar-hover-color: rgba(213, 204, 27, 0.2);
  --card1-color: #2962ff;
  --card2-color: #ff6d00;
  --card3-color: #2e7d32;
  --card4-color: #d50000;
  --font-color: rgba(9, 9, 9, 0.95);
  --icon-color: #000077;
  --icon-size: 26px;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Montserrat',sans-serif;
  overflow-x: hidden;
}

.grid-container{
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
    height: 100vh ;
  background-color: #D4DED9;
}


.icon{
  vertical-align: middle;
  line-height: 1px;
  font-size: 18px;
  /* background-color: antiquewhite; */
}


.icon_header{
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon, .icon_header{
  margin-right: 5px;
}
/* header */

.header{
  grid-area: header;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: var(--header-box-shadow);

}

.menu-icon{
  display: none;
}
/* End Header */

/* sideBar */

#sidebar{
  width: 245px;
  grid-area: sidebar;
  height: 100%;
  background-color: var(--sidebar-bg-color);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: fixed;
}

.sidebar-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title >span{
  display: none;
}

.sidebar-brand{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list{
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item{
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  transition: 0.3s;
}

.sidebar-list-item:hover{
  background-color: var(--sidebar-hover-color);
  border-radius: 0px 26px 0px 26px;
  transition: 0.5s;
  cursor: pointer;
}

.sidebar-list-item > a{
  text-decoration: none;
  color: rgb(218, 213, 213);
  font-weight: 800;
}

.sidebar-responsice{
  display: inline !important;
  position: absolute;
  z-index: 12;
}
/* EndsideBar */

/* Main */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: var(--font-color);
  
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  height: 140px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* menu deroulante */

.sidebar-list ul{
  margin:0;
	padding: 0;
	list-style: none;
}
#menu > li{
	line-height: 40px;
  cursor:pointer;
  transition: 0.5s;
}
#menu > li{
	line-height: 40px;
  cursor:pointer;
  transition: 0.5s;
}

#menu li ul a{
	display: block;
	text-decoration: none;
	color:rgb(231, 223, 223);
}

#menu li ul{
	height: 0;
	overflow: hidden;
	transition:2s;
}


#menu li:hover ul{
	height: auto;
  transition: 3s;
}

#menu li:focus ul{
	height: auto;
  transition: 3s;
}

/* End Main  */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    /* display: none; */
    transform: translateX(-100%);
    width: 100vw;
    z-index: 100;
  }

  #sidebar.reveal{
    transform: translateX(0);
    width: 100%;
  }
  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }

  .sidebar-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}
